<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: skyblue; justify-content: center; display: flex; align-items: center; height: 100vh; ">

    <div style="display: flex; justify-content: center; background-color: white; height: 50vh; width: 40vw; border-radius: 10%;">
        <h1 style="color: black; ">
            Bem Vindo ao Servidor da APCM
        </h1>


    </div>

</body>
</html>