/* --- General Layout --- */
.app-layout {
  min-height: 100vh;
}
body{
  margin: 0;
  padding: 0;
}

/* --- Sidebar --- */
.sidebar {
  background-color: #00bcd4;
  color: white;
}

/* --- Main Content --- */
.main-content {
  padding: 20px;
  background-color: white;
}

/* --- NavBar --- */
.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  background-color: #04D9D9;
}

/* Botón SOS */
.sos-button {
  width: 145px;
  height: 154px;
  padding : 0;
}

/* Botón de Lista de Pedidos */
.pedido-button {
  margin-top: 10px;
  background-color: #b6f3bd;
  border: none;
}
.page-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  height: 100%;
}

.page-container h1 {
  font-size: 24px;
  color: #333;
}

.page-container button {
  padding: 8px 16px;
  background-color: #1677ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
}

.page-container button:hover {
  background-color: #0958d9;
}

textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  resize: vertical;
}
